element.style {
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.image {
  max-width: 460px;
}
.description {
  max-width: 705px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

body {
	padding-top: 70px;	
}
